/* You can add global styles to this file, and also import other style files */
@use "../node_modules/papercss/dist/paper.css";

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}