button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}

.buttons {
    display: flex;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tag {
    background-color: #e7e7e7;
    border-radius: 4px;
    padding: 2px 6px;
    margin-right: 4px;
    font-size: 0.9em;
}

.question-number {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

p {
    color: red;
    font-weight: bold;
}

p.tagline {
    font-size: 0.9em;
    color: #777;
    margin-top: 5px;
}